<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.fastcampus.boardserver.mapper.CategoryMapper">

	<insert id="insertCategory" parameterType="com.fastcampus.boardserver.dto.CategoryDTO">
		INSERT INTO board.category (id, name)
		VALUES (#{id}, #{name})
	</insert>

	<update id="updateCategory" parameterType="com.fastcampus.boardserver.dto.CategoryDTO">
		UPDATE board.category
		SET name = #{name}
		WHERE id = #{id}
	</update>

	<delete id="deleteCategory">
		DELETE FROM board.category
		WHERE id = #{id}
	</delete>

</mapper>